/* general */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* /general */

body {
  background-color: #f6f8f9;
}

header {
  padding-top: 5px;
  padding-left: 5px;
}

h1 {
  font-size: 40px;
  transform: translate(0, -25%);
}

h1,
h2 {
  display: inline-block;
}

/* main */

main {
  width: 60vw;
  margin: 30px auto 20px;
  padding: 10px 0 5px 60px;
}

hr {
  border: 1px solid #f6f8f9;
  margin: 10px -60px 0 -60px;
}

.sfondo_blu {
  background-color: #47adf1;
}

.sfondo_bianco {
  background-color: white;
}

.sfondo_lavanda {
  background-color: #9c72e4;
}

.sfondo_verde {
  background-color: #64c0a9;
}

.sfondo_arancione {
  background-color: #f19d32;
}

.sfondo_rosa {
  background-color: #d863a1;
}

.sfondo_limone {
  background-color: #b0c926;
}

.testo_bianco {
  color: white;
}

.testo_grigio {
  color: grey;
}

.testo_verde {
  color: #64c0a9;
}

.testo_rosso {
  color: red;
}

.smussato {
  border-radius: 6px;
  padding: 9px;
  margin-right: 5px;
}

.tondo {
  border-radius: 50%;
  padding: 5px;
}

.ovale {
  border-radius: 20px;
  padding: 7px;
}

.smussato,
.tondo,
.ovale {
  display: inline-block;
}

.bordi {
  box-shadow: 0 0 1px inset;
}

.triangolino {
  font-size: 25px;
  vertical-align: middle;
}

.margine_elemento {
  margin-top: 20px;
}

.margine_sezione {
  margin-top: 40px;
}
/* /main */
